{{outlet}}
<div class="{{h1}}">
    <h2 class="text-center">This is the Jumbotron!</h2>
</div>
<div class="{{body}} text-center">
    <p>{{content}}</p>
    <img src="{{spImg}}"class="{{responsive}}" alt="SitePoint Logo">
</div>